:root {
    --primary-clr: #fef9b3;
    --secondary-clr: #80649e;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-clr);
}

.header {
    padding: .5rem 0;
    background-color: var(--secondary-clr);
    display: flex;
    justify-content: space-around;
}

.logo {
    padding: 0 2rem;
    border-radius: 10px;
}

.logo img {
    height: 5rem;
}

.main {
    min-height: 100vh;
}

.main-title {
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.question-links {
    margin: 3rem auto;
    max-width: 60vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.link {
    margin: 0 1rem;
    width: 40px;
    height: 40px;
    border-radius: 50rem;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.link-correct {
    background-color: #c8f7c5;
}

.link-wrong {
    background-color: #f7c5c5;
}

.link:hover {
    cursor: pointer;
    color: var(--primary-clr);
    background-color: var(--secondary-clr);
}

.question-container { 
    margin: 3rem auto;
    padding: 1rem;
    max-width: 60vw;
    border-radius: 15px;
    background-color: #80649e;
    box-shadow: 0 0 15px #000000af;
}

.question-title {
    margin: 1rem;
    font-size: 1.2rem;
    color: #fff;
}

.question-title span {
    margin-right: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.options {
    margin-top: 2rem;
}

.option { 
    display: block; 
    padding: 10px; 
    margin-top: 1rem; 
    background-color: #f0f0f0; 
    cursor: pointer;
    border-radius: 7.5px;
    font-size: 1rem;
}

.progress-container {
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
}
  
.progress-bar {
    height: 100%;
    background-color: #fff897;
    width: 100%;
    transition: width 0.1s linear;
}

.correct { 
    background-color: #c8f7c5; 
}

.wrong { 
    background-color: #f7c5c5; 
}

.answered {
    cursor: default;
}

footer {
    padding: 3rem 0;
    background-color: var(--secondary-clr);
}